Repository Team-DeVim/2025-DeVim, pull requests merged in 2025-08, with the labels that each got.

#10 ✨ [#5] domain - VO 추가
  backend/build.gradle
  backend/src/main/java/com/Devim/backend/domain/board/Board.java
  backend/src/main/java/com/Devim/backend/domain/board/BoardType.java
  backend/src/main/java/com/Devim/backend/domain/comment/Comment.java
  backend/src/main/java/com/Devim/backend/domain/likes/Likes.java
  backend/src/main/java/com/Devim/backend/domain/user/User.java
  backend/src/main/java/com/Devim/backend/domain/user/UserRole.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: 🔥 backend

#13 🔧 [#12]Test DB configuration, dependencies
  backend/build.gradle
  backend/src/test/java/com/Devim/backend/dbtest/DBTest.java
  backend/src/test/resources/application.properties
  backend/src/test/resources/schema.sql
Labels: ✅ test, 🔥 backend

#17 Main page/header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/SignUpRegister/Register.css
  frontend/src/pages/SignUpRegister/Register.jsx
  frontend/src/pages/SignUpRegister/SignUp.css
  frontend/src/pages/SignUpRegister/SignUp.jsx
  frontend/src/pages/main/MainPage.jsx
  frontend/src/pages/main/components/Carousel/Carousel.jsx
  frontend/src/pages/main/components/Header/Header.css
  frontend/src/pages/main/components/Header/Header.jsx
  frontend/src/router/root.jsx
Labels: 🌈 frontend

#21 Feature/board section
  frontend/src/pages/main/MainPage.jsx
  frontend/src/pages/main/components/BoardSection/BoardSection.css
  frontend/src/pages/main/components/BoardSection/BoardSection.jsx
Labels: 🌈 frontend, 🎨 UI

#29 ✨ [#28] search, rank feature add
  backend/src/main/java/com/Devim/backend/domain/board/Board.java
  backend/src/main/java/com/Devim/backend/domain/board/BoardDto.java
  backend/src/main/java/com/Devim/backend/domain/comment/Comment.java
  backend/src/main/java/com/Devim/backend/domain/comment/CommentDto.java
  backend/src/main/java/com/Devim/backend/domain/user/User.java
  backend/src/main/java/com/Devim/backend/domain/user/UserRankDto.java
  backend/src/main/java/com/Devim/backend/repository/BoardRepository.java
  backend/src/main/java/com/Devim/backend/repository/UserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/BoardMapper.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisBoardRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisUserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/UserMapper.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/mappers/BoardMapper.xml
  backend/src/main/resources/mappers/UserMapper.xml
Labels: 💫 feat, 🔥 backend

#32 ✨ [#31]Impliment Complelte
  frontend/src/pages/boardPage/BoardPage.css
  frontend/src/pages/boardPage/BoardPage.jsx
  frontend/src/pages/boardPage/components/BoardTheme/BoardTheme.css
  frontend/src/pages/boardPage/components/BoardTheme/BoardTheme.jsx
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.css
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.jsx
  frontend/src/pages/boardPage/components/NotionSection/NotionSection.css
  frontend/src/pages/boardPage/components/NotionSection/NotionSection.jsx
  frontend/src/pages/main/MainPage.jsx
  frontend/src/router/root.jsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#34 ✨ [#24] SideBar 토큰css 사용 및 각 테마별 적용
  frontend/src/pages/main/components/Sidebar.css
  frontend/src/pages/main/components/Sidebar.jsx
Labels: 🌈 frontend, 🎨 UI

#37 Feature/rest api
  backend/src/main/java/com/Devim/backend/controller/board/BoardController.java
  backend/src/main/java/com/Devim/backend/controller/comment/CommentController.java
  backend/src/main/java/com/Devim/backend/controller/user/UserController.java
  backend/src/main/java/com/Devim/backend/domain/common/PageResponseDto.java
  backend/src/main/java/com/Devim/backend/service/board/BoardService.java
  backend/src/main/java/com/Devim/backend/service/board/BoardServieImpl.java
  backend/src/main/java/com/Devim/backend/service/comment/CommentService.java
  backend/src/main/java/com/Devim/backend/service/comment/CommentServiceImpl.java
  backend/src/main/java/com/Devim/backend/service/user/UserService.java
  backend/src/main/java/com/Devim/backend/service/user/UserServiceImpl.java
Labels: ♻️ refactor, 💫 feat, 🔥 backend

#59 ✨ [#53] DetailPage 구현
  frontend/src/pages/detailPage/DetailPage.css
  frontend/src/pages/detailPage/DetailPage.jsx
  frontend/src/pages/detailPage/components/commentBox/CommentBox.css
  frontend/src/pages/detailPage/components/commentBox/CommentBox.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.css
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#63 ✨ [#61] 게시판 쿼리 추가 및 수정
  backend/src/main/java/com/Devim/backend/controller/board/BoardController.java
  backend/src/main/java/com/Devim/backend/controller/comment/CommentController.java
  backend/src/main/java/com/Devim/backend/repository/BoardRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/BoardMapper.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisBoardRepository.java
  backend/src/main/java/com/Devim/backend/service/board/BoardService.java
  backend/src/main/java/com/Devim/backend/service/board/BoardServiceImpl.java
  backend/src/main/resources/mappers/BoardMapper.xml
Labels: 💫 feat, 🔥 backend

#65 ✨ [#64] 게시판 최근글 조회 기능 개선
  backend/src/main/java/com/Devim/backend/controller/board/BoardController.java
  backend/src/main/java/com/Devim/backend/service/board/BoardService.java
  backend/src/main/java/com/Devim/backend/service/board/BoardServiceImpl.java
Labels: ♻️ refactor, 💫 feat, 🔥 backend

#73 ✨ [#66] AdminPage 레이아웃 생성 및 UserPage 구현
  frontend/src/pages/adminPage/AdminPage.css
  frontend/src/pages/adminPage/AdminPage.jsx
  frontend/src/pages/adminPage/components/AdminHeader/AdminHeader.css
  frontend/src/pages/adminPage/components/AdminHeader/AdminHeader.jsx
  frontend/src/pages/adminPage/components/AdminSideBar/AdminSideBar.css
  frontend/src/pages/adminPage/components/AdminSideBar/AdminSideBar.jsx
  frontend/src/pages/adminPage/routes/UserDetailPage.css
  frontend/src/pages/adminPage/routes/UserDetailPage.jsx
  frontend/src/pages/adminPage/routes/UsersPage.css
  frontend/src/pages/adminPage/routes/UsersPage.jsx
  frontend/src/router/root.jsx
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#75 ✨ [#72] 사용자 삭제 기능 개선
  backend/src/main/java/com/Devim/backend/controller/user/UserController.java
  backend/src/main/java/com/Devim/backend/domain/board/Board.java
  backend/src/main/java/com/Devim/backend/domain/board/BoardDto.java
  backend/src/main/java/com/Devim/backend/domain/comment/Comment.java
  backend/src/main/java/com/Devim/backend/domain/comment/CommentDto.java
  backend/src/main/java/com/Devim/backend/domain/likes/Likes.java
  backend/src/main/java/com/Devim/backend/domain/mainimage/MainImage.java
  backend/src/main/java/com/Devim/backend/domain/user/User.java
  backend/src/main/java/com/Devim/backend/repository/UserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisUserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/UserMapper.java
  backend/src/main/java/com/Devim/backend/service/user/UserService.java
  backend/src/main/java/com/Devim/backend/service/user/UserServiceImpl.java
  backend/src/main/resources/mappers/UserMapper.xml
Labels: 💫 feat, 🔥 backend

#78 ✨ [#70] [WIP] Impliment detailPage Axios
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/boardPage/BoardPage.jsx
  frontend/src/pages/boardPage/components/BoardTheme/BoardTheme.jsx
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.jsx
  frontend/src/pages/boardPage/components/NoticeSection/NoticeSection.jsx
  frontend/src/pages/detailPage/DetailPage.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
  frontend/src/pages/main/MainPage.jsx
  frontend/src/pages/main/components/BoardSection/BoardSection.jsx
  frontend/src/pages/main/components/Header/Header.jsx
  frontend/src/router/root.jsx
Labels: ✅ test, 🌈 frontend, 💫 feat

#90 ✨ [#87] 마이페이지 기능 구현
  backend/src/main/java/com/Devim/backend/controller/board/BoardController.java
  backend/src/main/java/com/Devim/backend/controller/user/UserController.java
  backend/src/main/java/com/Devim/backend/domain/user/User.java
  backend/src/main/java/com/Devim/backend/domain/user/UserSummaryResponseDto.java
  backend/src/main/java/com/Devim/backend/repository/BoardRepository.java
  backend/src/main/java/com/Devim/backend/repository/CommentRepository.java
  backend/src/main/java/com/Devim/backend/repository/UserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/BoardMapper.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/CommentMapper.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisBoardRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisCommentRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisUserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/UserMapper.java
  backend/src/main/java/com/Devim/backend/service/board/BoardService.java
  backend/src/main/java/com/Devim/backend/service/board/BoardServiceImpl.java
  backend/src/main/java/com/Devim/backend/service/comment/CommentService.java
  backend/src/main/java/com/Devim/backend/service/comment/CommentServiceImpl.java
  backend/src/main/java/com/Devim/backend/service/user/UserService.java
  backend/src/main/java/com/Devim/backend/service/user/UserServiceImpl.java
  backend/src/main/resources/mappers/BoardMapper.xml
  backend/src/main/resources/mappers/CommentMapper.xml
  backend/src/main/resources/mappers/UserMapper.xml
  backend/src/main/resources/mybatis-config.xml
Labels: 💫 feat, 🔥 backend

#102 ✨ [#101] 사이드바 랭킹 기능 연동
  backend/src/main/java/com/Devim/backend/domain/common/PageResponseDto.java
  docs/SettingQuery.sql
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/main/components/Sidebar.jsx
Labels: 🌈 frontend, 💫 feat

#103 [#94] 내 개시글&댓글 리스트 구현
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/boardPage/BoardPage.jsx
  frontend/src/pages/profilePage/ProfilePage.jsx
  frontend/src/pages/profilePage/components/myArticle/MyArticle.jsx
  frontend/src/pages/profilePage/components/myComment/MyComment.jsx
  frontend/src/router/root.jsx
Labels: ♻️ refactor, 🌈 frontend, 💫 feat

#108 Feature/jwt Spring Security AccessToken 구현
  backend/build.gradle
  backend/src/main/java/com/Devim/backend/advice/ExceptionAdvice.java
  backend/src/main/java/com/Devim/backend/config/security/CorsConfig.java
  backend/src/main/java/com/Devim/backend/config/security/SecurityConfig.java
  backend/src/main/java/com/Devim/backend/controller/auth/AuthController.java
  backend/src/main/java/com/Devim/backend/controller/auth/AuthTestController.java
  backend/src/main/java/com/Devim/backend/domain/sign/CustomUserDetails.java
  backend/src/main/java/com/Devim/backend/domain/sign/LoginRequestDto.java
  backend/src/main/java/com/Devim/backend/domain/sign/SignUpRequestDto.java
  backend/src/main/java/com/Devim/backend/domain/user/User.java
  backend/src/main/java/com/Devim/backend/exception/DuplicateUsernameException.java
  backend/src/main/java/com/Devim/backend/jwt/JWTFilter.java
  backend/src/main/java/com/Devim/backend/jwt/JWTUserPrincipal.java
  backend/src/main/java/com/Devim/backend/jwt/JWTUtil.java
  backend/src/main/java/com/Devim/backend/jwt/LoginFilter.java
  backend/src/main/java/com/Devim/backend/repository/UserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisUserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/UserMapper.java
  backend/src/main/java/com/Devim/backend/service/auth/AuthService.java
  backend/src/main/java/com/Devim/backend/service/auth/CustomUserDetailsService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/mappers/UserMapper.xml
Labels: ♻️ refactor, 💫 feat, 🔥 backend

#105 Feature/error page
  frontend/src/pages/adminPage/AdminPage.css
  frontend/src/pages/errorPage/ClientErrorPage.jsx
  frontend/src/pages/errorPage/ErrorPage.css
  frontend/src/pages/errorPage/ServerErrorPage.jsx
  frontend/src/router/root.jsx
  frontend/src/style/theme/game.tokens.css
Labels: 🌈 frontend, 🎨 UI, 💫 feat

#107 ♻️ [#106] userDetailPage 수정
  frontend/src/pages/adminPage/routes/UserDetailPage.jsx
Labels: ♻️ refactor, 🌈 frontend

#121 ✨ [#120] jwt토큰을 통한 user 정보 Get
  backend/src/main/java/com/Devim/backend/controller/user/UserController.java
  backend/src/main/resources/mappers/UserMapper.xml
Labels: 💫 feat, 🔥 backend

#124 ♻️ [#123] 배너 이미지 업로드 시 파일명 수정
  backend/src/main/java/com/Devim/backend/service/mainimage/MainImageServiceImpl.java
Labels: 🐛 bug, 🔥 backend

#128 ✨ [#127] 사용자 활성화 기능 추가
  backend/src/main/java/com/Devim/backend/controller/user/UserController.java
  backend/src/main/java/com/Devim/backend/repository/UserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/MyBatisUserRepository.java
  backend/src/main/java/com/Devim/backend/repository/mybatis/UserMapper.java
  backend/src/main/java/com/Devim/backend/service/user/UserService.java
  backend/src/main/java/com/Devim/backend/service/user/UserServiceImpl.java
  backend/src/main/resources/mappers/UserMapper.xml
Labels: ♻️ refactor, 🔥 backend

#129 ✨ [#119] [WIP] Impliment login
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/SignUpRegister/Register.jsx
Labels: 🌈 frontend, 💫 feat

#131 ✨ [#130] Impliment JWTAxios
  backend/src/main/java/com/Devim/backend/config/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/SignUpRegister/SignUp.jsx
  frontend/src/pages/detailPage/DetailPage.jsx
  frontend/src/pages/detailPage/components/commentBox/CommentBox.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
  frontend/src/pages/editorPage/EditorPage.jsx
  frontend/src/pages/main/components/Header/Header.css
  frontend/src/pages/main/components/Header/Header.jsx
  frontend/src/pages/main/components/Sidebar.jsx
  frontend/src/pages/profilePage/ProfilePage.jsx
  frontend/src/router/root.jsx
Labels: 🌈 frontend, 🐛 bug, 💫 feat

#133 🐛 [#132] AdminPage 버그 수정
  frontend/src/pages/adminPage/components/AdminSideBar/AdminSideBar.jsx
  frontend/src/pages/admin_bannerModify/BannerModify.jsx
Labels: 🌈 frontend, 🐛 bug

#135 🐛 [#134] 회원가입 버그 수정
  frontend/src/pages/SignUpRegister/Register.jsx
Labels: 🌈 frontend, 🐛 bug

#142 ♻️ [#140] BannerModify 컴포넌트 스크롤 추가
  frontend/src/pages/admin_bannerModify/BannerModify.css
Labels: ♻️ refactor, 🌈 frontend, 🎨 UI

#144 🐛 [#141] 사용자 프로필 수정 시 이미지 경로 예외처리
  backend/src/main/java/com/Devim/backend/config/security/CorsConfig.java
  backend/src/main/java/com/Devim/backend/config/security/SecurityConfig.java
  backend/src/main/java/com/Devim/backend/service/mainimage/MainImageServiceImpl.java
  backend/src/main/java/com/Devim/backend/service/user/UserServiceImpl.java
  backend/src/main/resources/static/images/default_profile.png
Labels: 🐛 bug

#147 ✨ [#143] 게시글 댓글 수정 삭제 구현
  frontend/.vite/deps/_metadata.json
  frontend/src/pages/detailPage/components/commentBox/CommentBox.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
  frontend/src/pages/editorPage/EditorPage.jsx
  frontend/src/pages/editorPage/components/Editor/Editor.jsx
Labels: 🌈 frontend, 💫 feat

#150 ✨ [#145] [WIP] jwtReact4
  frontend/public/img/default_profile.png
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/adminPage/routes/UsersPage.jsx
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.css
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.jsx
  frontend/src/pages/detailPage/components/commentBox/CommentBox.css
  frontend/src/pages/detailPage/components/commentBox/CommentBox.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
  frontend/src/router/root.jsx
Labels: 🌈 frontend, 💫 feat

#154 ✨ [#152] 좋아요 GET 구현
  backend/src/main/java/com/Devim/backend/controller/likes/LikesController.java
  backend/src/main/java/com/Devim/backend/service/likes/LikesService.java
  backend/src/main/java/com/Devim/backend/service/likes/LikesServiceImpl.java
Labels: 💫 feat, 🔥 backend

#155 Frontend_feature/jwtReact5 [프론트 JWT 작업5]
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.jsx
  frontend/src/pages/detailPage/components/commentBox/CommentBox.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
Labels: 🌈 frontend, 💫 feat

#158 ♻️ [#157] AdminPage/dashBoard 기본페이지 설정
  frontend/src/router/root.jsx
Labels: ♻️ refactor, 🌈 frontend

#159 Frontend_feature/jwtReact6 [프론트 JWT 작업6]
  frontend/src/api/DevimApi.jsx
  frontend/src/pages/SignUpRegister/SignUp.jsx
  frontend/src/pages/boardPage/components/ContentSection/ContentSection.jsx
  frontend/src/pages/detailPage/components/contentBox/ContentBox.jsx
  frontend/src/pages/main/components/Header/Header.jsx
  frontend/src/pages/main/components/Sidebar.jsx
  frontend/src/pages/profilePage/ProfilePage.jsx
  frontend/src/pages/profilePage/components/myArticle/MyArticle.jsx
  frontend/src/pages/profilePage/components/myComment/MyComment.jsx
  frontend/src/pages/profilePage/components/profileCard/ProfileCard.jsx
Labels: 🌈 frontend, 💫 feat
